<!-- <body background="http://phandroid.s3.amazonaws.com/wp-content/uploads/2014/10/mountain-sunset.jpg">
	<center>
		<h1 class="title">
			Some Polling Website
		</h1>
	</center>
	<center>
		<p class="description">
			Welcome to Some Polling Website!  Click the button below to begin making a poll!
		</p>
	</center>
	<center>
		<%= button_to "New Poll!", new_poll_path, method: "get" %>
	</center>
</body>
 -->
   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Some Polling Website</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="buttons.html">Trending</a></li>
        <li><%= link_to "New Poll", new_poll_path %></li>
      </ul>
    </div>
  </nav>
  <%= react_component("NewPoll", {authenticity_token: form_authenticity_token}) %>