<div class="row">
  <form class="col s12" action="/search" id="new_search" method="get">
    <input name="page" type="hidden" value=1 />
    <div class="input-field">
      <input id="query" name="query" type="text" /><br />
      <label for="query">Search</label>
    </div>
    <button class="btn">
      Search
    </button>
  </form>
</div>