<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#pie">Pie Chart</a></li>
      <li class="tab col s3"><a href="#bar">Bar</a></li>
      <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
      <li class="tab col s3 disabled"><a href="#test4">Some other stuff</a></li>
    </ul>
    <h5 class="center-align"><%= @poll.title %></h1>
  </div>
  <div id="pie" class="col s12">
    <canvas id="myPie"></canvas>
    <%= react_component("Pie", {labels: @key_strings, data: @values, backgroundColors: @backgroundColors, id: @poll.id }) %>
  </div>
  <div id="bar" class="col s12">
    <canvas id="myBar"></canvas>
    <%= react_component("Bar", {labels: @key_strings, data: @values, backgroundColors: @backgroundColors, id: @poll.id }) %>
  </div>
  <div id="test3" class="col s12">Test 3</div>
  <div id="test4" class="col s12">Test 4</div>
</div>
